.app {
    background-color: #3a84ff;
    width: 500px;
    height: 300px;
    text-align: center;
    font-size: 30px;
}

.counter {
    margin: 30px auto;
    font-weight: bold;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    clear: both;

}

.app button {
    width: 80px;
    height: 50px;
    margin: 0 20px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}