<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>hello 模板</h1>
<!--
    通过这种格式可以将render传递进来的数据直接在网页中显示出来
-->
<%= name; %>
<%= age; %>

<!--ejs注释格式-->
<%# address %>
</body>
</html>