.Meal {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding: 20rem;
    align-items: center;
}

.ImgBox {
    width: 280rem;
}

img {
    width: 100%;
}

.Content {
    width: 430rem;
    padding: 20rem;
}

.Title {
    font-weight: normal;
    font-size: 30rem;
    margin: 0;
}

.Desc {
    color: #bbb;
    font-size: 20rem;
    width: 95%;
    margin: 0;
}

.PriceBox {
    display: flex;
    justify-content: space-between;
    margin-top: 30rem;
}

.Price {
    font-weight: bold;
    font-size: 25rem;
}

.Price:before {
    content: '￥';
    font-size: 20rem;
}